body {
    background-color: #FAF3DD; /* Beige -- Coolors */
}
div.centre_pane {
    margin: auto;
    width: 50%;
    min-width: 520px;
    max-width: 700px;
}
div.input {
    text-align: center;
    width: 50%;
    min-width: 200px;
    padding-bottom: 30px;
    float: left;
}
div.output {
    text-align: center;
    margin-left: 50%;
    min-width: 250px;
    padding-bottom: 35px;
}
div.output_box {
    border: solid 1px #302b27; /* Charleston Green -- Coolors */
    height: 44px;
    background-color: #f5f3f5; /* White Smoke -- Coolors */
}
h1 {
    padding-left: 10px;
    margin-bottom: 10px;
    color: #1b264f; /* Space Cadet -- Coolors */
}
hr {
    color: #1b264f;
}
p {
    margin-top: 0px;
    padding-left: 10px;
    padding-bottom: 10px;
    text-align: justify;
    color: #302b27;
}
#decimal_input {
    background-color: #f5f3f5;
    border: solid 1px #302b27;
    margin-bottom: 2px;
}

#decimal_convert_button {
    background-color: #f5f3f5;
    border: solid 1px #302b27;
    border-radius: 8px;
}

#gen_random_team_button {
    background-color: #f5f3f5;
    border: solid 1px #302b27;
    border-radius: 8px;
}
#PNIS_logo {
    display: block;
    margin: auto;
    width: 400px;
    padding-bottom: 20px;
}
#numeral_pic {
    display: block;
    margin: auto;
    width: 500px;
    margin-bottom: 20px;
    background-color:  #f5f3f5;
}
